<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>TwitterForZombies</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
=======
  <title>Zombietwitter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
>>>>>>> db7e6ebab2eb56f7085a2f45fa829c541869f798
  <%= csrf_meta_tags %>
</head>
<body>

<<<<<<< HEAD
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <!-- <a class="brand" href="#">Twitter for zombies</a> -->
            <%= link_to "Twitter for zombies", root_path, :class => 'brand' %>
        </div>
    </div>
</div>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

=======
>>>>>>> db7e6ebab2eb56f7085a2f45fa829c541869f798
<%= yield %>

</body>
</html>
